$fa-font-size-base:   14px !default;
$fa-line-height-base: 1 !default;

$header-gradient-left: #32589B;
$header-gradient-right: #C01B1B;


$list-item-color: #9B9B9B;
$list-item-color-selected: #DB0000;
$divider-color: #F0F0F0;
$icon-color: #C6C6C7;

$list-item-background-color: #FFFFFF;
$list-item-background-color-hover: #F4F4F4;

$nearform-red: #ED1827;
