@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import 'variables';

// TODO: CHANGE IT ASAP, else importing our component would effect whole page's font
body {
  font-family: 'Lato', sans-serif;
}

.header {
  display: flex;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.46);
  margin-bottom: 10px;

  &--logo {
    width: 160px;
    height: 160px;
    box-shadow: 1px 0px 2px 0px rgba(209,209,209,1);
  }

  &--bar {
    flex: 1;
  }

  &--nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &--nav-item {
    list-style: none;
    float: left;
    width: 100px;

    a {
      display: block;
      padding: 10px 20px;
      text-align: center;
    }
  }

  &--search-bar {
    background: linear-gradient(to left, #32589B 0%, #C01B1B 100%);
    height: 80px;
  }

  &--nav-bar {
    background: transparent;
    height: 80px;
  }
}

.content {
  margin-top: 40px;
}

.filterlist {
  &--filter-wrapper {
    position: relative;
    width: 100%;
    vertical-align: middle;
  }

  &--filter-icon {
    position: absolute;
    left: 10px;
    top: 8px;
    z-index: 1;
    color: $icon-color;
  }

  &--filter-input {
    border-radius: 20px;
    box-shadow: inset 0px 2px 4px 0px rgba(176, 176, 176, 0.75);
    border: none;
    background: #EEEEEE;
    padding: 5px 10px 5px 30px;
    width: 100%;
    transition: background .55s ease;

    &:focus {
      background: #FFFFFF;
    }

    &::-webkit-input-placeholder {
      font-size: 12px;
    }
  }

  &--add-item {
    margin-left: 10px;
    font-weight: bold;
  }

  &--list-items {
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
  }

  &--item {
    color: black;
    padding: 20px 0 20px 20px;
    cursor: pointer;
    color: $list-item-color;
    border-bottom: 1px solid $divider-color;
    background-color: $list-item-background-color;

    &:hover {
      background-color: $list-item-background-color-hover;
    }

    &-selected {
      position: relative;
      color: $list-item-color-selected;

      &:before {
        content: "\2022";
        position: absolute;
        left: 0;
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}

// TODO: Really need to think of namespacing our CSS to avoid conflicts
.view-policy {
  box-shadow: 4px 8px 25px 0px rgba(204,204,204,1);
  margin: 0 40px;

  &--row {
    padding: 20px 0;

    &-dark {
      background-color: #FBFBFB;
    }
  }

  &--statement {
    border-bottom: 1px solid #AAA;
    padding: 0;
  }

  &--actions {
    list-style: none;
    padding: 0;
  }

  &--resources {
    list-style: none;
    padding: 0;
  }
}

.attached {
  &--items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: center;
  }

  &--item-display {
    margin: 5px;
    padding: 5px 25px 5px 25px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
  }
}
