@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import 'variables';
@import 'mixins';

// TODO: CHANGE IT ASAP, else importing our component would effect whole page's font
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.header {
  display: flex;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.46);
  margin-bottom: 10px;

  &--logo {
    width: 120px;
    height: 120px;
    box-shadow: 1px 0px 2px 0px rgba(209,209,209,1);
  }

  &--bar {
    flex: 1;
  }

  &--nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &--nav-item {
    list-style: none;
    float: left;
    width: 120px;
  }

  &--nav-link {
    display: block;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    color: $list-item-color;
    font-weight: 400;

    &:hover, &:active, &:focus, &-active {
      color: $list-item-color-selected;
      text-decoration: none;
    }

    &-active {
      @include fa-icon-before($fa-var-check, 10px);
    }

  }

  &--search-bar {
    background: linear-gradient(to left, $header-gradient-left 0%, $header-gradient-right 100%);
    height: 60px;
  }

  &--nav-bar {
    background: transparent;
    height: 60px;
  }
}

.content {
  margin-top: 40px;
}

.filterlist {
  &--filter-wrapper {
    position: relative;
    width: 100%;
    vertical-align: middle;
  }

  &--filter-icon {
    position: absolute;
    left: 10px;
    top: 8px;
    z-index: 1;
    color: $icon-color;
  }

  &--filter-input {
    border-radius: 20px;
    box-shadow: inset 0px 2px 4px 0px rgba(176, 176, 176, 0.75);
    border: none;
    background: #EEEEEE;
    padding: 5px 10px 5px 30px;
    width: 100%;
    transition: background .55s ease;

    &:focus {
      background: #FFFFFF;
    }

    &::-webkit-input-placeholder {
      font-size: 12px;
    }
  }

  &--add-item {
    margin-left: 10px;
    font-weight: bold;
  }

  &--list-items {
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
  }

  &--item {
    color: black;
    padding: 20px 0 20px 20px;
    cursor: pointer;
    color: $list-item-color;
    border-bottom: 1px solid $divider-color;
    background-color: $list-item-background-color;

    &:hover {
      background-color: $list-item-background-color-hover;
    }

    &-selected {
      color: $list-item-color-selected;

      @include fa-icon-before($fa-var-circle, 0, 6px);
    }
  }
}

// TODO: Really need to think of namespacing our CSS to avoid conflicts
.view-policy {
  box-shadow: 4px 8px 25px 0px rgba(204,204,204,1);
  margin: 0 40px;
  border-radius: 5px;
  overflow: hidden;

  &--row {
    padding: 10px 0;

    &-dark {
      background-color: #DDDDDD;

      span {
        color: $list-item-color-selected;
      }
    }
  }

  &--statements {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  &--statement {
    border-bottom: 1px solid #AAA;
    padding: 0;
  }

  &--actions {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &--resources {
    list-style: none;
    padding: 0;
  }
}

.user {
  box-shadow: 0px 18px 35px 0px rgba(0, 0, 0, 0.5);
  margin-left: 240px;

  &--delete {
    position: relative;
    left: 60px;
    top: -3px;
    color: $nearform-red;
    @include fa-icon-after($fa-var-trash, 0, 30px);
  }

  &--namecontainer {
    padding-top: 99px;
    width: 100%;
  }

  &--flex {
    display: flex;
  }

  &--flex-left {
    flex: 0 1 auto;
    width: 100%;
    text-align: right;
    margin-right: 20px;
  }

  &--flex-mid {
    flex: 0 0 266px;
  }

  &--flex-right {
    flex: 0 1 auto;
    width: 100%;
    margin-left: 20px;
  }

  &--name-input {
    border-radius: 20px;
    box-shadow: inset 0px 2px 4px 0px rgba(176, 176, 176, 0.75);
    border: none;
    background: #EEEEEE;
    text-align: center;
    width: 100%;
    transition: background .55s ease;

    &:focus {
      background: #FFFFFF;
    }

    &::-webkit-input-placeholder {
      font-size: 12px;
    }
  }

  &--teamcontainer {
    padding-top: 88px;
    width: 100%;
  }

  &--showhidecontainer {
    padding-top: 15px;
    text-align: center;
  }

  &--attachmentcontainer {
    padding-top: 32px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  &--attachmentflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 250px;
    overflow-y: auto;
  }

  &--attachmentitem {
    width: 152px;
    height: 24px;
    border-radius: 25px;
    background-color: #FFFFFF;
    border: solid 1px $list-item-color;
    text-align: center;
    margin-bottom: 20px;
  }

  &--attachmenttrash {
    float: right;
    position: relative;
    left: -10px;
    color: $nearform-red;
    @include fa-icon-after($fa-var-trash, 0, 14px);
  }

  &--policycontainer {
    padding-top: 50px;
    width: 100%;
  }

  &--select {
    border-radius: 25px;
    border: solid 1px $list-item-color;
    box-shadow: inset 0px 2px 4px 0px rgba(176, 176, 176, 0.75);
    background: #EEEEEE;
    text-align: center;
    width: 100%;
    height: 24px;
    transition: background .55s ease;
  }

  &--savecontainer {
    padding-top: 63px;
    text-align: center;
    padding-bottom: 75px;
  }

  &--applybutton {
    width: 111px;
    height: 28px;
    border-radius: 100px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px $nearform-red;
  }

  &--showhide-text {
    font-weight: bold;
  }

  &--caret-right {
    position: relative;
    left: 15px;
    @include fa-icon-after($fa-var-caret-right, 0, 14px);
  }

  &--caret-down {
    position: relative;
    left: 15px;
    @include fa-icon-after($fa-var-caret-down, 0, 14px);
  }
}
